<p> <%= button_to "Products\' Details", products_path, method: :get %></p>
<p> <%= button_to "Orders\' Details", orders_path, method: :get %></p>
<p> <%= button_to "Customers\'Details", customers_path, method: :get %></p>
<p><%= button_to "Most Sales Product By Price", products_most_sales_product_by_price_path, method: :get%></p>
<p><%= button_to "Most Sales Product By Quantity", products_most_sales_product_by_quantity_path, method: :get%></p>
<p><%= button_to "Most Booked Order Of Product", orders_most_booked_order_of_product_path, method: :get%></p>
<p><%= button_to "Most Cancelled Order Of Product", orders_most_cancelled_order_of_product_path, method: :get%></p>
